//  file for all functions, variables, mixins etc

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap');

$font-stack: 'Poppins', sans-serif;
$light-color: #f4f4f4;
$primary-color: hsl(228, 66%, 53%);
$primary-color-alt: hsl(228, 62%, 47%);
$secondary-color: hsl(25, 83%, 53%);
$title-color: hsl(228,57%, 28%);
